html, body {
	height: 100%;
	}


#table-index{
	text-align:center;
	table-layout: fixed;
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
	overflow-wrap: break-word;   /* Renamed property in CSS3 draft spec */
}


#app{
	background-image: url('../images/back2.jpg');
	background-size: cover;
	min-height: 100%;
}

#nav-sup{
	background: #f5a703;
}

.navLink{
	font-weight: bold;
}

.navSearch{
	margin-top: 7px;
}

#indexImage{
	height: 190%;
	margin-top: -10px;
}

#productImage {
	height: 100px;
	padding: 10px;

}

#cont-footer{
	border-radius: 10px;
	background: rgba(255,255,255,0.8);

	bottom: 0;
	left: 10vw;
}

.thumbnail .caption{
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
	overflow-wrap: break-word;
}


.card{
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
	overflow-wrap: break-word;
	border: 2px solid #D3D3D3;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.btn-card{
	margin-top: -10px;
	margin-bottom: 5px;
}

.in-card{
	padding: 10px;
}

.in-card>h4{
	margin-top: 0;
	text-align: left;
}

#showImage{
	max-height: 60vh;
}

#titulo{
	font-size: 15px;
}
